streamlit
yfinance
xlsxwriter
pandas
numpy
plotly
textblob
nltk
matplotlib
beautifulsoup4
requests
scipy
scikit-learn
statsmodels
seaborn
dhanhq
nest-asyncio
Dhan-Tradehull
#sqlite3
#pysqlite
curl_cffi
openpyxl
mplfinance
streamlit-drawable-canvas
